<div class="row m-2">

	<div class="col-lg-4">
				
		<div class="card mb-2">
		<div class="card-body">
		
			<div class="row">
				<div class="col h5 text-center">TRATAMIENTO ACTUAL</div>
			</div>
			
			<div class="row">
			
			<div class="col-lg-6">
			
				<label for="txt_insulina_nph">INSULINA NPH</label>
				<div class="input-group">
					<input type="text" id="txt_insulina_nph" class="form-control text-right">
					<div class="input-group-prepend">
						<div class="input-group-text">U./dia</div>
					</div>					
				</div>
			
				<label for="txt_metformina">METFORMINA</label>
				<div class="input-group">
					<input type="text" id="txt_metformina" class="form-control text-right">
					<div class="input-group-prepend">
						<div class="input-group-text">mg/dia</div>
					</div>					
				</div>
				
				<label for="txt_glibenclamida">GLIBENCLAMIDA</label>
				<div class="input-group">
					<input type="text" id="txt_glibenclamida" class="form-control text-right">
					<div class="input-group-prepend">
						<div class="input-group-text">mg/dia</div>
					</div>					
				</div>
				
				<label for="txt_enalapril">ENALAPRIL</label>
				<div class="input-group">
					<input type="text" id="txt_enalapril" class="form-control text-right">
					<div class="input-group-prepend">
						<div class="input-group-text">mg/dia</div>
					</div>					
				</div>
				
				<label for="txt_atenolol">ATENOLOL</label>
				<div class="input-group">
					<input type="text" id="txt_atenolol" class="form-control text-right">
					<div class="input-group-prepend">
						<div class="input-group-text">mg/dia</div>
					</div>					
				</div>
				
				<label for="txt_furosemida">FORUSEMIDA</label>
				<div class="input-group">
					<input type="text" id="txt_furosemida" class="form-control text-right">
					<div class="input-group-prepend">
						<div class="input-group-text">mg/dia</div>
					</div>					
				</div>				
			</div>
			
			<div class="col-lg-6">
				<label for="txt_insulina_rapida">INSULINA RAPIDA</label>
				<div class="input-group">
					<input type="text" id="txt_insulina_rapida" class="form-control text-right">
					<div class="input-group-prepend">
						<div class="input-group-text">U./dia</div>
					</div>
					
				</div>
				
				<label for="txt_hidroclorotiazida">HIDROCLOROTIAZIDA</label>
				<div class="input-group">
					<input type="text" id="txt_hidroclorotiazida" class="form-control text-right">
					<div class="input-group-prepend">
						<div class="input-group-text">mg/dia</div>
					</div>					
				</div>
				
				<label for="txt_aas">AAS</label>
				<div class="input-group">
					<input type="text" id="txt_aas" class="form-control text-right">
					<div class="input-group-prepend">
						<div class="input-group-text">mg/dia</div>
					</div>					
				</div>
				
				<label for="txt_simvastatina">SIMVASTATINA</label>
				<div class="input-group">
					<input type="text" id="txt_simvastatina" class="form-control text-right">
					<div class="input-group-prepend">
						<div class="input-group-text">mg/dia</div>
					</div>					
				</div>
				
				<label for="txt_fenofibrato">FENOFIBRATO</label>
				<div class="input-group">
					<input type="text" id="txt_fenofibrato" class="form-control text-right">
					<div class="input-group-prepend">
						<div class="input-group-text">mg/dia</div>
					</div>					
				</div>
				
				<label >AUTOMONITOREO</label>
					<div class="">
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
							<label class="form-check-label" for="inlineRadio1">SI</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
							<label class="form-check-label" for="inlineRadio2">NO</label>
						</div>
					</div>
				
			</div>
			</div>	
		</div>
		</div>
	
	</div>

	<div class="col-lg-8">
		<div class="card mb-2">
		<div class="card-body">
			<div class="row form-group">
				<div class="col-lg-12 text-center">
					<label for="txt_conducta_medica">CONDUCTA MEDICA</label>
					<textarea class="form-control" rows="2" id="txt_conducta_medica"></textarea>
				</div>				
			</div>
			<div class="row">
				<div class="col text-center">SOLICITUD INTERCONSULTAS</div>
			</div>
			<div class="row form-group">
					<div class="col-lg-4">
						<div class="form-inline mb-1">
							<input class="form-check-input" type="checkbox" id="chk_cardiologia">
							<label class="form-check-label" for="chk_cardiologia">CARDGIOLOGIA</label>
						</div>
						<div class="form-inline mb-1">
							<input class="form-check-input" type="checkbox" id="chk_endocrinologia">
								<label class="form-check-label" for="chk_endocrinologia">ENDOCRINOLOGIA</label>
						</div>
						
						<div class="form-inline mb-1">
							<input class="form-check-input" type="checkbox" id="chk_nefrologia">
								<label class="form-check-label" for="chk_nefrologia">NEFROLOGIA</label>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="form-inline mb-1">
							<input class="form-check-input" type="checkbox" id="chk_nutricion">
							<label class="form-check-label" for="chk_nutricion">NUTRICION</label>
						</div>
						<div class="form-inline mb-1">
							<input class="form-check-input" type="checkbox" id="chk_odontologia">
								<label class="form-check-label" for="chk_odontologia">ODONTOLOGIA</label>
						</div>
						<div class="form-inline mb-1">
							<input class="form-check-input" type="checkbox" id="chk_oftalmologia">
								<label class="form-check-label" for="chk_oftalmologia">OFTALMOLOGIA</label>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="form-check mb-1">
							<input class="form-check-input" type="checkbox" id="chk_psicologia">
							<label class="form-check-label" for="chk_psicologia">PSICOLOGIA</label>
						</div>
						<div class="form-check mb-1">
							<input class="form-check-input" type="checkbox" id="chk_otro_interconsulta">
								<label class="form-check-label" for="chk_otro_interconsulta">_______________</label>
						</div>
					</div>
			</div>
			
			<hr>
			
			<div class="row">
				<div class="col text-center">INMUNIZACIONES</div>
			</div>
			<div class="row form-group">
					<div class="col-lg-6">
						<div class="form-check mb-1">
							<input class="form-check-input" type="checkbox" id="chk_antigripal">
							<label class="form-check-label" for="chk_antigripal">ANTIGRIPAL</label>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="form-check mb-1">
							<input class="form-check-input" type="checkbox" id="chk_antineumococo">
							<label class="form-check-label" for="chk_antineumococo">ANTINEUMOCOCO</label>
						</div>
					</div>
			</div>
			
			<hr>
			
			<div class="row">
				<div class="col text-center">SOLICITUD DE PRACTICAS</div>
			</div>
			
			<div class="row">
				<div class="col">
					
					<div class="input-group mt-2">					
						<div class="input-group-prepend">
							<span class="input-group-text">
								<input type="checkbox" id="chk_laboratorios">
							</span>
							<label class="input-group-text" for="chk_laboratorios">LABORATORIOS</label>
						</div>
						<input type="text" class="form-control" id="txt_laboratorios">
					</div>
					
					<div class="input-group mt-2">
						<div class="input-group-prepend">
							<span class="input-group-text">
								<input type="checkbox" id="chk_otros_estudios">
							</span>
							<span class="input-group-text">OTROS ESTUDIOS</span>
						</div>
						<input type="text" class="form-control" id="txt_otros_estudios">
					</div>
					
				</div>
			</div>
						
		</div>
		</div>
	</div>

</div>