<div class="row mb-4 mt-4">
	<div class="col-lg-10">
		<div class="row mb-1">

			<div class="col-lg-4">
				<div class="">
					<div class="card-body">

						<div class="form-inline row">
							<input class="form-check-input" type="checkbox" id="chk_glucemia_alterada_en_ayunas" 
								ng-model="vm.historial.diagnosticos.glucemia_alterada_en_ayunas">
							<label class="form-check-label" for="chk_glucemia_alterada_en_ayunas">
								GLUCEMIA ALTERADA EN AYUNAS
							</label>
						</div>
						<div class="form-inline row">
							<input class="form-check-input" type="checkbox" id="chk_tolerancia_glucosa_alterada" 
								ng-model="vm.historial.diagnosticos.tolerancia_glucosa_alterada">
							<label class="form-check-label" for="chk_tolerancia_a_glucosa_alterada">
								TOLERANCIA A GULCOSA ALTERADA </label>
						</div>
						<div class="form-inline row">
							<input class="form-check-input" type="checkbox" id="chk_diabetes" 
								ng-model="vm.historial.diagnosticos.diabetes">
							<label class="form-check-label" for="chk_diabetes">
								DIABETES </label>
						</div>
						<div class="form-inline row mt-1">
							<label class="col-lg-6" for="txt_diabetes_tiempo_evolucion">
								TIEMPO DE EVOL.
							</label>
							<input class="col-lg-2 form-control-sm" id="txt_diabetes_tiempo_evolucion" type="text" 
								ng-model="vm.historial.diagnosticos.diabetes_tiempo_evolucion" ng-disabled="!vm.historial.diagnosticos.chk_diabetes">
						</div>
						<div class="form-inline row mt-1">
							<label class="col-lg-6" for="sel_diabetes_tipo">TIPO DIABETES</label>
							<select class="form-control-sm col-lg-6" id="sel_diabetes_tipo" 
								ng-model="vm.historial.diagnosticos.diabetes_tipo" ng-disabled="!vm.chk_diabetes">
								<option ng-repeat="diabetes_tipo in vm.diabetes_tipos" value="{{diabetes_tipo.id}}">{{diabetes_tipo.descripcion}}</option>
							</select>
						</div>
						<div class="form-inline row mt-1">
							<label class="col-lg-6" for="txt_diabetes_semanas_gestacion">SEM. GESTACION</label>
							<input class="col-lg-2 form-control-sm" id="txt_diabetes_semanas_gestacion" type="text" 
								ng-model="vm.historial.diagnosticos.diabetes_semanas_gestacion" ng-disabled="vm.sel_diabetes_tipo==2">
						</div>

					</div>
				</div>
			</div>

			<div class="col-lg-3">
				<div class="card mb-2">
					<div class="card-body">
						<div class="form-inline">
							<input class="form-check-input" type="checkbox" id="chk_dislipemia" ng-model="vm.historial.diagnosticos.dislipemia">
							<label class="form-check-label" for="chk_dislipemia">DISLIPEMIA</label>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-body">
						<div class="form-inline mt-1">
							<input class="form-check-input" type="checkbox" id="chk_hipertension_arterial" ng-model="vm.historial.diagnosticos.hipertension_arterial">
							<label class="form-check-label" for="chk_hipertension_arterial">
								HIPERTENSION ARTERIAL
							</label>
						</div>
						<div class="form-inline mt-1">
								<label class="col-lg-9" for="txt_hipertension_arterial_tiempo_evolucion">
									TIEMPO DE EVOLUC.
								</label>
								<input class="col-lg-3 form-control-sm" type="text" id="txt_hipertension_arterial_tiempo_evolucion"
									ng-model="vm.historial.diagnosticos.hipertension_arterial_tiempo_evolucion" ng-disabled="!vm.hipertension_arterial">
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-5">
				<div class="">
					<div class="card-body">

						<div class="row">
							<div class="col-lg-12 text-left h5">ENFERMEDADES ASOCIADAS</div>
						</div>

						<div class="form-inline row mb-1">							
							<label class="col-lg-4" for="chk_enfermedad_tiroidea">ENF. TIROIDEA</label>
															
							<input class="col-lg-1" type="checkbox" id="chk_enfermedad_tiroidea" ng-model="vm.historial.enfermedades_asociadas.enfermedad_tiroidea" ng-true-value="1" ng-false-value="0">
							
							<label class="col-lg-2" for="txt_enfermedad_tiroidea_tipo">CUAL</label>
							
							<input class="col-lg-5 form-control-sm" type="text" id="txt_enfermedad_tiroidea_tipo" ng-model="vm.historial.enfermedades_asociadas.enfermedad_tiroidea_tipo">							
						</div>
						
						<div class="form-inline row mb-1">							
							<label class="col-lg-4" for="chk_enfermedad_reumatica">ENF. REUMATICAS</label>
														
							<input class="col-lg-1" type="checkbox" id="chk_enfermedad_reumatica" ng-model="vm.enfermedad_reumatica">
							
							<label class="col-lg-2" for="txt_enfermedad_reumatica_tipo">CUAL</label>
							
							<input class="col-lg-5 form-control-sm" type="text" id="txt_enfermedad_reumatica_tipo" ng-model="vm.enfermedad_reumatica_tipo">
						</div>

						<div class="form-inline row mb-1">							
							<label class="col-lg-4" for="chk_enfermedad_celiaca">ENF. CELIACA</label>							
							<input class="col-lg-1" type="checkbox" id="chk_enfermedad_celiaca" ng-model="vm.enfermedad_celiaca">							
						</div>

						<div class="form-inline row">
							<label class="col-lg-4 text-right" for="chk_tbc">T.B.C.</label>							
							<input class="col-lg-1" id="chk_tbc" type="checkbox" ng-model="vm.tbc">
						</div>

					</div>
				</div>
			</div>

		</div>

		<div class="row mb-1">

			<div class="col-lg-6">
				<div class="">					
					<div class="card-body">
						
						<div class="row">
							<div class="h5">FACTORES DE RIESGO ASOCIADOS</div>							
						</div>					
						
						<div class="row">
							<div class="col">
								<div class="form-inline row">
									<input class="form-check-input" type="checkbox" id="chk_obesidad" ng-model="vm.obesidad">
									<label class="form-check-label" for="chk_obesidad">OBESIDAD</label>
								</div>

								<div class="form-inline row">
									<input class="form-check-input" type="checkbox" id="chk_sedentarismo" ng-model="vm.sedentarismo">
									<label class="form-check-label" for="chk_sedentarismo">SEDENTARISMO</label>
								</div>

								<div class="form-inline  row">
									<input class="form-check-input" type="checkbox" id="chk_tabaco" ng-model="vm.tabaco">
									<label class="form-check-label" for="chk_tabaco">TABACO</label>
								</div>

								<div class="form-inline  row">
									<input class="form-check-input" type="checkbox" id="chk_alcoholismo" ng-model="vm.alcoholismo">
									<label class="form-check-label" for="chk_alcoholismo">ALCOHOLISMO</label>
								</div>
							</div>
							<div class="col">
								<div class="form-inline  row">
									<input class="form-check-input" type="checkbox" id="chk_anticoagulantes" ng-model="vm.anticoagulantes">
									<label class="form-check-label" for="chk_anticoagulantes">USA ANTICOAGULANTES</label>
								</div>

								<div class="form-inline  row">
									<input class="form-check-input" type="checkbox" id="chk_corticoides" ng-model="vm.corticoides">
									<label class="form-check-label" for="chk_corticoides">USA CORTICOIDES</label>
								</div>

								<div class="form-inline  row">
									<input class="form-check-input" type="checkbox" id="chk_anticonceptivos" ng-model="vm.anticonceptivos">
									<label class="form-check-label" for="chk_anticonceptivos">USA ANTICONTEPTIVOS</label>
								</div>

								<div class="form-inline row">
									<input class="form-check-input" type="checkbox" id="chk_menospausia_prematura" ng-model="vm.menospausia_prematura">
									<label class="form-check-label" for="chk_menospausia_prematura">MENOSPAUSIA PREMATURA</label>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-6">

				<div class="">
					<div class="card-body">

						<div class="row h5">ANTECEDENTES FAMILIARES DE 1° GRADO</div>

						<div class="row">
							<div class="col-lg-6">
								<div class="form-check row">
									<input class="form-check-input" type="checkbox" id="chk_familiar_hta">
									<label class="form-check-label" for="chk_familiar_hta">HTA</label>
								</div>

								<div class="form-check row">
									<input class="form-check-input" type="checkbox"
										id="chk_familiar_iam"> <label class="form-check-label"
										for="chk_familiar_iam"> IAM </label>
								</div>

								<div class="form-check row">
									<input class="form-check-input" type="checkbox"
										id="chk_familiar_acv_ait"> <label
										class="form-check-label" for="chk_familiar_acv_ait">
										ACV / AIT </label>
								</div>
							</div>

							<div class="col-lg-6">
								<div class="form-check row">
									<input class="form-check-input" type="checkbox"
										id="chk_familiar_dislipemia"> <label
										class="form-check-label" for="chk_familiar_dislipemia">
										DISLIPEMIA </label>
								</div>

								<div class="form-check row">
									<input class="form-check-input" type="checkbox"
										id="chk_familiar_diabetes"> <label
										class="form-check-label" for="chk_familiar_diabetes">
										DIABETES </label>
								</div>

								<div class="form-check row">
									<input class="form-check-input" type="checkbox"
										id="chk_familiar_celiaca"> <label
										class="form-check-label" for="chk_familiar_celiaca">
										ENF. CELIACA </label>
								</div>

							</div>
						</div>

					</div>
				</div>
			</div>

		</div>
	</div>
	<div class="col-lg-2">		
			<div class="card">
			<div class="card-body">

				<div class="row mb-2">
					<div class="col text-center">PRECLASIFICACION R.C.V.G.</div>
				</div>

				<div class="form-group row">
					<label class="col-lg-8 text-center"> < 10% </label>
					<input class="form-control btn-level-1 col-lg-2" type="button">
				</div>
				<div class="form-group row">
					<label class="col-lg-8 text-center"> 10% a < 20% </label>
					<input type="button" class="form-control btn-level-2 col-lg-2">
				</div>
				<div class="form-group row">
					<label class="col-lg-8 text-center"> 20% a < 30% </label>
					<input type="button" class="form-control btn-level-3 col-lg-2">
				</div>
				<div class="form-group row">
					<label class="col-lg-8 text-center"> 30% a < 40% </label>
					<input type="button" class="form-control btn-level-4 col-lg-2">
				</div>
				<div class="form-group row">
					<label class="col-lg-8 text-center"> > 40% </label>
					<input type="button" class="form-control btn-level-5 col-lg-2">
				</div>

			</div>
		</div>		
	</div>
</div>
