<div class="card mb-2 mt-2">
	<div class="card-header">
		<div class="col h5 text-center">TRATAMIENTO ACTUAL</div>
	</div>				
	<div class="card-body">
		<div class="row mt-2">
			<div class="col-lg-7">
				<div class="row">
					<div class="col-lg-6">
						<div class="row mb-2">
							<div class="offset-lg-7 col-lg-5 text-center">Unidades/dia</div>
						</div>
						<div class="form-group row">
							<label for="txt_tratamiento_actual_insulina_nph" class="col-lg-7 col-form-label">INSULINA NPH</label>
							<div class="col-lg-5">
								<input type="number" class="form-control" id="txt_tratamiento_actual_insulina_nph" ng-model="vm.tratamiento_actual.insulina_nph">
							</div>
						</div>

						<div class="row mt-4 mb-2">
							<div class="offset-lg-7 col-lg-5 text-center">Mg./dia</div>
						</div>
						<div class="form-group row">
							<label for="txt_tratamiento_actual_metmorfina" class="col-lg-7 col-form-label">METMORFINA</label>
							<div class="col-lg-5">
								<input type="number" class="form-control" id="txt_tratamiento_actual_metmorfina" ng-model="vm.tratamiento_actual.metformina">
							</div>
						</div>

						<div class="form-group row">
							<label for="txt_tratamiento_actual_glibenclamida" class="col-lg-7 col-form-label">GLIBENCLAMIDA</label>
							<div class="col-lg-5">
								<input type="number" class="form-control" id="txt_tratamiento_actual_glibenclamida" ng-model="vm.tratamiento_actual.glibenclamida">
							</div>
						</div>

						<div class="form-group row">
							<label for="txt_tratamiento_actual_enalapril" class="col-lg-7 col-form-label">ENALAPRIL</label>
							<div class="col-lg-5">
								<input type="number" class="form-control" id="txt_tratamiento_actual_enalapril" ng-model="vm.tratamiento_actual.enalapril">
							</div>
						</div>

						<div class="form-group row">
							<label for="txt_tratamiento_actual_atenolol" class="col-lg-7 col-form-label">ATENOLOL</label>
							<div class="col-lg-5">
								<input type="number" class="form-control" id="txt_tratamiento_actual_atenolol" ng-model="vm.tratamiento_actual.atenolol">
							</div>
						</div>

						<div class="form-group row">
							<label for="txt_tratamiento_actual_furosemida" class="col-lg-7 col-form-label">FORUSEMIDA</label>
							<div class="col-lg-5">
								<input type="number" class="form-control" id="txt_tratamiento_actual_furosemida" ng-model="vm.tratamiento_actual.furosemida">
							</div>
						</div>

					</div>

					<div class="col-lg-6">
						<div class="row mb-2">
							<div class="offset-lg-7 col-lg-5 text-center">Unidades/dia</div>
						</div>
						<div class="form-group row">
							<label for="txt_tratamiento_actual_insulina_rapida" class="col-lg-7 col-form-label">INSULINA RAPIDA</label>
							<div class="col-lg-5">
								<input type="number" class="form-control" id="txt_tratamiento_actual_insulina_rapida" ng-model="vm.tratamiento_actual.insulina_rapida">
							</div>
						</div>

						<div class="row mt-4 mb-2">
							<div class="offset-lg-7 col-lg-5 text-center">Mg./dia</div>
						</div>
						<div class="form-group row">
							<label for="txt_tratamiento_actual_hidroclorotiazida" class="col-lg-7 col-form-label">HIDROCLOROTIAZIDA</label>
							<div class="col-lg-5">
								<input type="number" class="form-control" id="txt_tratamiento_actual_hidroclorotiazida" ng-model="vm.tratamiento_actual.hidroclorotiazida">
							</div>
						</div>

						<div class="form-group row">
							<label for="txt_tratamiento_actual_aas" class="col-lg-7 col-form-label">AAS</label>
							<div class="col-lg-5">
								<input type="number" class="form-control" id="txt_tratamiento_actual_aas" ng-model="vm.tratamiento_actual.aas">
							</div>
						</div>

						<div class="form-group row">
							<label for="txt_tratamiento_actual_simvastatina" class="col-lg-7 col-form-label">SIMVASTATINA</label>
							<div class="col-lg-5">
								<input type="number" class="form-control" id="txt_tratamiento_actual_simvastatina" ng-model="vm.tratamiento_actual.simvastatina">
							</div>
						</div>

						<div class="form-group row">
							<label for="txt_tratamiento_actual_fenofibrato" class="col-lg-7 col-form-label">FENOFIBRATO</label>
							<div class="col-lg-5">
								<input type="number" class="form-control" id="txt_tratamiento_actual_fenofibrato" ng-model="vm.tratamiento_actual.fenofibrato">
							</div>
						</div>

						<div class="form-group row">
							<div class="col-lg-7 col-form-label">AUTOMONITOREO</div>
							<div class="col-lg-2 form-check form-check-inline">
								<input class="form-check-input" type="radio" name="rad_tratamiento_automonitoreo" id="rad_tratamiento_automonitoreo0"
									ng-model="vm.tratamiento.automonitoreo">
								<label class="form-check-label" for="rad_tratamiento_automonitoreo0">NO</label>
							</div>
							<div class="col-lg-2 form-check form-check-inline">
								<input class="form-check-input" type="radio" name="rad_tratamiento_automonitoreo" id="rad_tratamiento_automonitoreo1"
									ng-model="vm.tratamiento.automonitoreo">
								<label class="form-check-label" for="rad_tratamiento_automonitoreo1">SI</label>
							</div>
						</div>
						
					</div>
				</div>
			</div>

			<div class="col-lg-5">
				<div class="row">
					<div class="col-lg-12">
						<div class="form-row">					
								<label class="col-lg-6">
									CONDUCTA MEDICA							
								</label>
								<button class="btn btn-sm btn-outline-primary mr-2" title="Haga clic para agregar conducta medica" 
									data-toggle="modal" data-target="#create-conducta-medica">
									<i class="fa fa-calendar-plus-o"></i>
								</button>
								<button class="btn btn-sm btn-outline-success mr-2" title="Actualizar la conducta seleccionada"
									data-toggle="modal" data-target="#edit-conducta-medica" 
								  ng-click="vm.editConductaMedica()">
								  <i class="fa fa-pencil"></i>
								</button>
								<button class="btn btn-sm btn-outline-danger mr-2" title="Eliminar la conducta seleccionada"
								  data-toggle="modal" data-target="#delete-conducta-medica"
								  ng-click="vm.setIdBeforeDelete()">
								  <i class="fa fa-trash-o"></i>
								</button>
						</div>
						<div class="row mt-2">
							<div class="col-lg-12">
								<table class="table table-sm table-hover">
								    <tr>
								      <td class="col-lg-3">FECHA</td>
								      <td class="col-lg-9">OBSERVACION</td>   
								    </tr>
								    <tr ng-repeat="conducta in vm.array_conducta_medica" ng-click="vm.setConductaMedica(conducta)">
								      <td>{{conducta.fecha}}</td>
								      <td>{{conducta.observacion}}</td>						      								      
								    </tr>
								</table>
							</div>
					  </div>
					</div>									
				</div>
				
				<hr>

				<div class="row">
					<div class="col-lg-12 text-center">SOLICITUD INTERCONSULTAS</div>
				</div>

				<div class="row">
					<div class="col-lg-6">
						<div class="form-inline mt-2">
							<input class="form-check-input" type="checkbox" id="chk_solicitud_interconsultas_cardiologia" ng-model="vm.solicitud_interconsultas.cardiologia">
								<label class="form-check-label" for="chk_solicitud_interconsultas_cardiologia">CARDGIOLOGIA</label>
						</div>
						<div class="form-inline mt-2">
							<input class="form-check-input" type="checkbox" id="chk_solicitud_interconsultas_endocrinologia" ng-model="vm.solicitud_interconsultas.endocrinologia">
							<label class="form-check-label" for="chk_solicitud_interconsultas_endocrinologia">ENDOCRINOLOGIA</label>
						</div>

						<div class="form-inline mt-2">
							<input class="form-check-input" type="checkbox" id="chk_solicitud_interconsultas_nefrologia" ng-model="vm.solicitud_interconsultas.nefrologia">
							<label class="form-check-label" for="chk_solicitud_interconsultas_nefrologia">NEFROLOGIA</label>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="form-inline mt-2">
							<input class="form-check-input" type="checkbox" id="chk_solicitud_interconsultas_nutricion" ng-model="vm.solicitud_interconsultas.nutricion">
							<label class="form-check-label" for="chk_solicitud_interconsultas_nutricion">NUTRICION</label>
						</div>
						<div class="form-inline mt-2">
							<input class="form-check-input" type="checkbox" id="chk_solicitud_interconsultas_odontologia" ng-model="vm.solicitud_interconsultas.odontologia">
							<label class="form-check-label" for="chk_solicitud_interconsultas_odontologia">ODONTOLOGIA</label>
						</div>
						<div class="form-inline mt-2">
							<input class="form-check-input" type="checkbox" id="chk_solicitud_interconsultas_oftalmologia" ng-model="vm.solicitud_interconsultas.oftalmologia">
							<label class="form-check-label" for="chk_solicitud_interconsultas_oftalmologia">OFTALMOLOGIA</label>
						</div>
						<div class="form-inline mt-2">
							<input class="form-check-input" type="checkbox" id="chk_solicitud_interconsultas_psicologia" ng-model="vm.solicitud_interconsultas.psicologia">
							<label class="form-check-label" for="chk_solicitud_interconsultas_psicologia">PSICOLOGIA</label>
						</div>
					</div>
				</div>

				<hr>

				<div class="row">
					<div class="col text-center">INMUNIZACIONES</div>
				</div>
				<div class="row">
					<div class="col-lg-6">
						<div class="form-inline">
							<input class="form-check-input" type="checkbox" id="chk_inmunizaciones_antigripal" ng-model="vm.inmunizaciones.antigripal">
							<label class="form-check-label" for="chk_inmunizaciones_antigripal">ANTIGRIPAL</label>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="form-inline">
							<input class="form-check-input" type="checkbox" id="chk_inmunizaciones_antineumococo" ng-model="vm.inmunizaciones.antineumococo">
							<label class="form-check-label" for="chk_inmunizaciones_antineumococo">ANTINEUMOCOCO</label>
						</div>
					</div>
				</div>

			</div>
		</div>

		<hr>
		<div class="row">	
			<div class="col-lg-12 text-center">SOLICITUD DE PRACTICAS
			</div>
		</div>
		
		<div class="form-row align-items-center mb-2">
			<div class="col-lg-3">
				<div class="form-check">
					<input class="form-check-input" type="checkbox" id="chk_solicitud_practica_laboratorios"
						ng-model="vm.solicitud_practica.laboratorios">
					<label class="form-check-label" for="chk_solicitud_practica_laboratorios">LABORATORIO</label>
				</div>
			</div>
			<div class="col-lg-9">
				<input class="form-control" type="text" id="txt_solicitud_practica_laboratorios_observacion"
					ng-model="vm.solicitud_practica.laboratorios_observacion"
					ng-disabled="!vm.solicitud_practica.laboratorios">
			</div>
		</div>
		
		<div class="form-row align-items-center mb-2">
			<div class="col-lg-3">
				<div class="form-check">
					<input class="form-check-input" type="checkbox" id="chk_solicitud_practica_otros_estudios"
						ng-model="vm.solicitud_practica.otros_estudios">
					<label class="form-check-label" for="chk_solicitud_practica_otros_estudios">OTROS ESTUDIOS</label>
				</div>
			</div>
			<div class="col-lg-9">
				<input class="form-control" type="text" id="txt_solicitud_practica_otros_estudios_observacion" 
					ng-model="vm.solicitud_practica.otros_estudios_observacion"
					ng-disabled="!vm.solicitud_practica.otros_estudios">
			</div>
		</div>
	</div>
</div>