<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- <a class="navbar-brand" href="#">Alpha</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav mr-auto mt-2 mt-lg-0">
      <a class="nav-item nav-link active" ng-click="vm.activeTemplate(0)" >Personal</a>
      <a class="nav-item nav-link" ng-click="vm.activeTemplate(1)" >Diagnosticos</a>
      <a class="nav-item nav-link" ng-click="vm.activeTemplate(2)" >Controles Clinicos</a>
      <a class="nav-item nav-link" ng-click="vm.activeTemplate(3)" >Laboratorio</a>
      <a class="nav-item nav-link" ng-click="vm.activeTemplate(4)" >Tratamiento</a>
      <a class="nav-item nav-link" ng-click="vm.activeTemplate(5)" >Seguimiento</a>
    </div>
    <div class="form-inline my-2 my-lg-0">
    	<div class="form-group mb-2">
			<label for="txt_mensajes" class="sr-only">Mensajes</label>
			<input type="text" readonly class="form-control-plaintext" id="txt_mensajes" value="{{vm.mensajes}}">
		</div>
    	<button class="btn btn-outline-success my-2 my-sm-0" ng-click="vm.closeHistorial()" ng-disabled="vm.close_enabled" type="submit">Cerrar</button>
    </div>
  </div>
</nav>

<div class="slide-animate-container">
	<div class="slide-animate" ng-include="vm.template"></div>
</div>