<div class="row m-4">

	<div class="col-lg-12">
	
		<div class="row">
			<div class="col-lg-3">
				<div class="from-group row mb-2">
					<label for="txt_glucemia_en_ayunas" 
						class="col-lg-9 col-form-label text-right">GLUCEMIA EN AYUNAS</label>
					<div class="col-lg-3">
						<input type="text" class="form-control"	id="txt_glucemia_en_ayunas">
					</div>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="from-group row mb-2">
					<label class="col-lg-6 col-form-label text-right">PTOG</label>
					<div class="col-lg-3">
						<input type="text" class="form-control" id="txt_ptog_desde">
					</div>
					<div class="col-lg-3">
						<input type="text" class="form-control" id="txt_ptog_hasta">
					</div>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="from-group row mb-2">
					<label for="txt_hba1c" class="col-lg-9 col-form-label text-right">HbA1c</label>
					<div class="col-lg-3">
						<input type="text" class="form-control" id="txt_hba1c">
					</div>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="from-group row mb-2">
					<label for="txt_clearence_de_creat"	
						class="col-lg-9 col-form-label text-right">CLEARENCE DE	CREAT.</label>
					<div class="col-lg-3">
						<input type="text" class="form-control" id="txt_clearence_de_creat">
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-3">
				<div class="from-group row mb-2">
					<label for="txt_colesterol_total" 
						class="col-lg-9 col-form-label text-right">COLESTEROL TOTAL</label>
					<div class="col-lg-3">
						<input type="text" class="form-control" id="txt_colesterol_total">
					</div>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="from-group row mb-2">
					<label class="col-lg-6 col-form-label text-right">GOT / GPT</label>
					<div class="col-lg-3">
						<input type="text" class="form-control" id="txt_got">
					</div>
					<div class="col-lg-3">
						<input type="text" class="form-control" id="txt_gpt">
					</div>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="from-group row mb-2">
					<label for="txt_fal" class="col-lg-9 col-form-label text-right">FAL</label>
					<div class="col-lg-3">
						<input type="text" class="form-control" id="txt_fal">
					</div>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="from-group row mb-2">
					<label for="txt_proteinuria_creatinin" 
						class="col-lg-9 col-form-label text-right">PROTEINURIA/CREATININ.</label>
					<div class="col-lg-3">
						<input type="text" class="form-control" id="txt_proteinuria_creatinin">
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-3">
				<div class="from-group row mb-2">
					<label for="txt_trigliceridos" class="col-lg-9 col-form-label text-right">TRIGLICERIDOS</label>
					<div class="col-lg-3">
						<input type="text" class="form-control" id="txt_trigliceridos">
					</div>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="from-group row mb-2">
					<label for="txt_colesterol_hdl" class="col-lg-6 col-form-label text-right">COL. HDL/LDL</label>
					<div class="col-lg-3">
						<input type="text" class="form-control" id="txt_colesterol_hdl">
					</div>
					<div class="col-lg-3">
						<input type="text" class="form-control" id="txt_colesterol_ldl">
					</div>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="from-group row mb-2">
					<label for="txt_creatinina" class="col-lg-9 col-form-label text-right">CREATININA</label>
					<div class="col-lg-3">
						<input type="text" class="form-control" id="txt_creatinina">
					</div>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="from-group row mb-2">
					<label for="txt_fg" class="col-lg-9 col-form-label text-right">FG</label>
					<div class="col-lg-3">
						<input type="text" class="form-control" id="txt_fg">
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-3">
				<div class="from-group row">
					<label for="txt_iga_total" class="col-lg-9 col-form-label text-right">Ig.A TOTAL</label>
					<div class="col-lg-3">
						<input type="text" class="form-control" id="txt_iga_total">
					</div>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="from-group row">
					<label for="txt_anticuerpo" class="col-lg-9 col-form-label">ANTICUERPO ANTITRANSGLUTAMINASA</label>
					<div class="col-lg-3">
						<input type="text" class="form-control" id="txt_anticuerpo">
					</div>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="from-group row mb-2">
					<label for="txt_proteinuria" class="col-lg-9 col-form-label text-right">PROTEINURIA</label>
					<div class="col-lg-3">
						<input type="text" class="form-control" id="txt_proteinuria">
					</div>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="from-group row mb-2">
					<label for="txt_urea" class="col-lg-9 col-form-label text-right">UREA</label>
					<div class="col-lg-3">
						<input type="text" class="form-control" id="txt_urea">
					</div>
				</div>
			</div>
		</div>

		<div class="row mb-3">
			<div class="col-lg-3">
				<div class="input-group-text">MICROALBUMINURIA</div>
			</div>
			<div class="col-lg-3">
				<div class="input-group">
					<div class="input-group-prepend">
						<div class="input-group-text">menor a 30 mg/dl</div>
					</div>
					<input type="text" class="form-control text-right">
				</div>
			</div>
			<div class="col-lg-3">
				<div class="input-group">
					<div class="input-group-prepend">
						<div class="input-group-text">30 a 300 mg/dl</div>
					</div>
					<input type="text" class="form-control text-right">
				</div>
			</div>
			<div class="col-lg-3">
				<div class="input-group">
					<div class="input-group-prepend">
						<div class="input-group-text">mayor a 300 mg/dl</div>
					</div>
					<input type="text" class="form-control text-right">
				</div>
			</div>
		</div>

		<ul class="list-group">

			<li class="list-group-item">
				<div class="row">
					<div class="col-lg-12 text-center">
						<h5>NIVEL DE RIESGO CARDIOVASCULAR GLOBAL</h5>
					</div>

				</div>
				<div class="row">
					<div class="col-lg-2">
						<div class="input-group">
							<div class="input-group-prepend">
								<div class="input-group-text">
									<input type="radio" name="nivel_riesgo_cardiovascular_global" 
														id="nivel_riesgo_cardiovascular_global_1">
								</div>
							</div>
							<label class="form-control btn-level-1"
								for="nivel_riesgo_cardiovascular_global_1">&#60 10%</label>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="input-group">
							<div class="input-group-prepend">
								<div class="input-group-text">
									<input type="radio" name="nivel_riesgo_cardiovascular_global"
										id="nivel_riesgo_cardiovascular_global_2">
								</div>
							</div>
							<label class="form-control btn-level-2"
								for="nivel_riesgo_cardiovascular_global_2">10% a 20%</label>
						</div>
					</div>
					<div class="col-lg-2">
						<div class="input-group">
							<div class="input-group-prepend">
								<div class="input-group-text">
									<input type="radio" name="nivel_riesgo_cardiovascular_global"
										id="nivel_riesgo_cardiovascular_global_3">
								</div>
							</div>
							<label class="form-control btn-level-3"
								for="nivel_riesgo_cardiovascular_global_3">20% a 30%</label>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="input-group">
							<div class="input-group-prepend">
								<div class="input-group-text">
									<input type="radio" name="nivel_riesgo_cardiovascular_global"
										id="nivel_riesgo_cardiovascular_global_4">
								</div>
							</div>
							<label class="form-control btn-level-4"
								for="nivel_riesgo_cardiovascular_global_4">30% a 40%</label>
						</div>
					</div>
					<div class="col-lg-2">
						<div class="input-group">
							<div class="input-group-prepend">
								<div class="input-group-text">
									<input type="radio" name="nivel_riesgo_cardiovascular_global"
										id="nivel_riesgo_cardiovascular_global_5">
								</div>
							</div>
							<label class="form-control btn-level-5"
								for="nivel_riesgo_cardiovascular_global_5">> 40%</label>
						</div>
					</div>
				</div>
			</li>

			<li class="list-group-item">
				<div class="row">
					<div class="col-lg-12 text-center">
						<h5>INTERNACIONES RELACIONADAS CON ENFERMEDAD DE BASE</h5>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-3">
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text" id="basic-addon3">FECHA: </span>
							</div>
							<input type="date" class="form-control" id="basic-url"
								aria-describedby="basic-addon3">
						</div>
					</div>
					<div class="col-lg-2">
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text" id="basic-addon3">N° DIAS:
								</span>
							</div>
							<input type="text" class="form-control text-center"
								id="basic-url" aria-describedby="basic-addon3">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text" id="basic-addon3">CAUSAS:
								</span>
							</div>
							<textarea class="form-control" rows="1" id="basic-url"
								aria-describedby="basic-addon3"></textarea>
						</div>
					</div>
				</div>
			</li>
			<li class="list-group-item">
				<div class="row">
					<div class="col-lg-12">
						<label for="txt_nombre">OBSERVACIONES: </label>
						<textarea class="form-control" rows="3" id="basic-url"
							aria-describedby="basic-addon3"></textarea>
					</div>
				</div>
			</li>
			<li class="list-group-item">
				<div class="form-check">
					<label class="form-check-label col-lg-6" for="chk_asiste_control">PARTICIPACION
						EN TALLERES DE AUTOCUIDADO</label>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio"
							name="inlineRadioOptions" id="inlineRadio1" value="option1">
						<label class="form-check-label" for="inlineRadio1">NO</label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio"
							name="inlineRadioOptions" id="inlineRadio2" value="option2">
						<label class="form-check-label" for="inlineRadio2">SI</label>
					</div>
				</div>
			</li>
		</ul>
	
	</div>

</div>