	
		<div class="row mb-2 mt-2">
			<div class="col-lg-4">
				
				<div class="card">
				<div class="card-body">
					<div class="row">
						<label class="col-lg-6 col-form-label" for="">FECHA</label>
						<input class="col-lg-6 form-control" id="" type="date" >
					</div>
					<div class="row">
						<label class="col-lg-8 col-form-label" for="">ADHERENCIA AL TRATAMIENTO</label>
						<div class="form-check form-check-inline">
						  <input class="form-check-input" type="radio" name="chk_adherencia_al_tratamiento" id="chk_adherencia_al_tratamiento_no" value="0">
						  <label class="form-check-label" for="chk_adherencia_al_tratamiento_no">NO</label>
						</div>
						<div class="form-check form-check-inline">
						  <input class="form-check-input" type="radio" name="chk_adherencia_al_tratamiento" id="chk_adherencia_al_tratamiento_si" value="1">
						  <label class="form-check-label" for="chk_adherencia_al_tratamiento_si">SI</label>
						</div>
					</div>
				</div>
				</div>
				
				<div class="card mt-1">
						<div class="card-body">							
							<div class="card-title text-center h5">
								DATOS CLINICOS
							</div>							
							<div class="card-text">
							
								<div class="row">
									<label class="col-lg-7 col-form-label" for="txt_seg_tabaco">TABACO</label>									
									<input class="col-lg-5 form-control form-control-sm" type="text" id="txt_seg_tabaco" >
								</div>
								
								<div class="row">
								
									<label class="col-lg-3 col-form-label" for="txt_seg_peso" >PESO</label>
									<input class="col-lg-3 form-control form-control-sm" type="text" id="txt_seg_peso">
									
									<label class="col-lg-3 col-form-label" for="txt_seg_imc" >I.M.C.</label>
									<input type="text" class="col-lg-3 form-control form-control-sm"	id="txt_seg_imc">
								</div>
								
								<div class="form-group row">
									<label class="col-lg-6 col-form-label" for="txt_seg_tension_arterial">TENSION ARTERIAL</label>
									<input type="text" class="col-lg-6 form-control form-control-sm" id="txt_seg_tension_arterial">
								</div>
								
								<div class="form-group row">
									<label class="col-lg-6" for="txt_seg_perimetro_cintura">PERIMETRO CINTURA</label>
									<input type="text" class="col-lg-6 form-control form-control-sm" id="txt_seg_perimetro_cintura">
								</div>
								<div class="form-group row">
									<label class="col-lg-6" for="txt_seg_examen_pies">EXAMEN PIES</label>
									<input type="text" class="col-lg-6 form-control form-control-sm" id="txt_seg_examen_pies">
								</div>
							</div>							
						</div>					
				</div>
				
			</div>
			<div class="col-lg-4">
			
				<div class="card">
						<div class="card-body">
							<h5 class="card-title text-center">DATOS DE LABORATORIO</h5>
							<div class="card-text">
								<div class="row">								
										<label class="col-lg-3 col-form-label">GLUCEMIA</label>
										<input class="col-lg-3 form-control form-control-sm" type="text" id="txt_seg_glucemia">
										
										<label class="col-lg-3 col-form-label">Hb1A1c</label>
										<input class="col-lg-3 form-control form-control-sm" type="text" id="txt_seg_hb1a1c">										
								</div>
								
								<div class="row">
									<label class="col-lg-3 col-form-label">GOT/GPT</label>
									<input class="col-lg-2 form-control form-control-sm" type="text" id="txt_seg_got">
									<label class="col-lg-1 col-form-label">/</label>
									<input class="col-lg-2 form-control form-control-sm" type="text" id="txt_seg_gpt">
									<label class="col-lg-2 col-form-label">FAL</label>
									<input class="col-lg-2 form-control form-control-sm" type="text" id="txt_fal">
								</div>
								
								<div class="row">
									<label class="col-lg-4 col-form-label">COLESTEROL TOT.</label>
									<input class="col-lg-2 form-control form-control-sm" type="text" id="txt_seg_colesterol">
									
									<label class="col-lg-4 col-form-label">TRIGLIC</label>
									<input class="col-lg-2 form-control form-control-sm" type="text" id="txt_seg_triglic">
								</div>
								
								<div class="row">
									<label class="col-lg-4 col-form-label">HDL</label>
									<input class="col-lg-2 form-control form-control-sm" type="text" id="txt_seg_hdl">
									
									<label class="col-lg-4 col-form-label">LDL</label>
									<input class="col-lg-2 form-control form-control-sm" type="text" id="txt_seg_ldl">									
								</div>
								
								<div class="row">
									<label class="col-lg-6 col-form-label">CLEARENCE CREAT</label>
									<input class="col-lg-3 form-control form-control-sm" type="text" id="txt_seg_clearence">
								</div>
								<div class="row">
									<label class="col-lg-3 col-form-label">CREATININA</label>
									<input class="col-lg-3 form-control form-control-sm" type="text" id="txt_seg_creatinina">
									
									<label class="col-lg-3 col-form-label">ESTADIO</label>
									<input class="col-lg-3 form-control form-control-sm" type="text" id="txt_seg_estadio">
								</div>
								<div class="row">									
									<label class="col-lg-4 col-form-label">PROT</label>
									<input class="col-lg-2 form-control form-control-sm" type="text" id="txt_seg_port">
									
									<label class="col-lg-4 col-form-label">CREATININURIA</label>
									<input class="col-lg-2 form-control form-control-sm" type="text" id="txt_seg_creatininuria">
								</div>
								
								<div class="row">
									<div class="col">
										<label class="">MICROALBUMINURIA</label>
									</div>
								</div>
								<div class="row">
									<label class="col-lg-4 col-form-label">30 a 300mg/dl:</label>
									<input class="col-lg-2 form-control form-control-sm" type="text" id="txt_seg_microalburimia_menor">
									
									<label class="col-lg-4 col-form-label"> > 300 mg/dl:</label>
									<input class="col-lg-2 form-control form-control-sm" type="text" id="txt_seg_microalburimia_mayor">
								</div>
								
								<hr>
					
								<div class="row">
									<label class="col-lg-4 col-form-label">ECG</label>
									
									<div class="form-check form-check-inline">
									  <input class="form-check-input" type="radio" name="rad_seg_ecg" id="rad_seg_ecg_no" value="0">
									  <label class="form-check-label" for="rad_seg_ecg_no">NO</label>
									</div>
									
									<div class="form-check form-check-inline">
									  <input class="form-check-input myradio" type="radio" name="rad_seg_ecg" id="rad_seg_ecg_si" value="1">
									  <label class="form-check-label" for="rad_seg_ecg_si">SI</label>
									</div> 
									
								</div>
								<div class="row">
									<label class="col">RIESGO CARDIOVASCULAR</label>
									<div class="col">
										<div class="btn-group btn-group-toggle" data-toggle="buttons">
											<label class="btn btn-light">
										    	<input type="radio" name="rad_riesgo_cardiovascular" id="rad_riesgo_cardiovascular_1" autocomplete="off">
											</label>
											<label class="btn btn-success">
										    	<input type="radio" name="rad_riesgo_cardiovascular" id="rad_riesgo_cardiovascular_2" autocomplete="off">
											</label>
											<label class="btn btn-warning">
										    	<input type="radio" name="rad_riesgo_cardiovascular" id="rad_riesgo_cardiovascular_3" autocomplete="off">
											</label>
											<label class="btn btn-danger">
										    	<input type="radio" name="rad_riesgo_cardiovascular" id="rad_riesgo_cardiovascular_4" autocomplete="off">
											</label>
											<label class="btn btn-dark">
										    	<input type="radio" name="rad_riesgo_cardiovascular" id="rad_riesgo_cardiovascular_5" autocomplete="off">
											</label>
										</div>
									</div>
								</div>
								
							</div>							
						</div>
				</div>
				
			</div>
			
			<div class="col-lg-4">
								
				<div class="card mt-1">
					<div class="card-body">
						<div class="card-title h5 text-center">
							MEDICAMENTOS
						</div>
						<div class="card-text">
							<div class="row">
								<label class="col col-form-label">INSULINA NPH (Unid./dia)</label>
								<input class="col form-control form-control-sm" type="text" id="">
							</div>
							<div class="row">
								<label class="col col-form-label">INSULINA RAPIDA (Unid./dia)</label>
								<input class="col form-control form-control-sm" type="text" id="">
							</div>
							<div class="row">
								<label class="col-lg-4 col-form-label">METFORMINA</label>
								<input class="col-lg-2 form-control form-control-sm" type="text" id="">
								<label class="col-lg-4 col-form-label">GLIBENCLAMIDA</label>
								<input class="col-lg-2 form-control form-control-sm" type="text" id="">
							</div>
							<div class="row">
								<label class="col-lg-4 col-form-label">ENALAPRIL</label>
								<input class="col-lg-2 form-control form-control-sm" type="text" id="">
								<label class="col-lg-4 col-form-label">ATENOLOL</label>
								<input class="col-lg-2 form-control form-control-sm" type="text" id="">
							</div>
							<div class="row">
								<label class="col col-form-label">FUROSEMIDA</label>
								<input class="col form-control form-control-sm" type="text" id="">
							</div>
							<div class="row">
								<label class="col col-form-label">HIDROCLOROTIAZIDA</label>
								<input class="col form-control form-control-sm" type="text" id="">
							</div>
							<div class="row">
								<label class="col col-form-label">AAS</label>
								<input class="col form-control form-control-sm" type="text" id="">
							</div>
							<div class="row">
								<label class="col-lg-4 col-form-label">SIMVASTATINA</label>
								<input class="col-lg-2 form-control form-control-sm" type="text" id="">
								<label class="col-lg-4 col-form-label">FENOFIBRATO</label>
								<input class="col-lg-2 form-control form-control-sm" type="text" id="">
							</div>
						</div>
					</div>
				</div>
				
				<div class="card mt-1">
					<div class="card-body">
						<div class="row">
							<label class="col-lg-4 col-form-label">AUTOMONITOREO</label>
							
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" name="rad_seg_automonitoreo" id="rad_seg_automonitoreo_no" value="0">
								<label class="form-check-label" for="rad_seg_automonitoreo_no">NO</label>
							</div>
									
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" name="rad_seg_automonitoreo" id="rad_seg_automonitoreo_si" value="1">
								<label class="form-check-label" for="rad_seg_automonitoreo_si">SI</label>
							</div>
						</div>
					</div>
				</div>
				
			</div>			
		</div>

		
		